In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('transaction_data.csv',sep=',')
df.head()

,UserId,TransactionId,TransactionTime,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,Country
0,278166,6355745,Sat Feb 02 12:50:00 IST 2019,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,United Kingdom
1,337701,6283376,Wed Dec 26 09:06:00 IST 2018,482370,LONDON BUS COFFEE MUG,3,3.52,United Kingdom
2,267099,6385599,Fri Feb 15 09:45:00 IST 2019,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,France
3,380478,6044973,Fri Jun 22 07:14:00 IST 2018,459186,UNION JACK FLAG LUGGAGE TAG,3,1.73,United Kingdom
4,-1,6143225,Mon Sep 10 11:58:00 IST 2018,1733592,WASHROOM METAL SIGN,3,3.40,United Kingdom

In [3]:
df.shape

(1083818, 8)

In [4]:
df.columns.values

array(['UserId', 'TransactionId', 'TransactionTime', 'ItemCode',
       'ItemDescription', 'NumberOfItemsPurchased', 'CostPerItem',
       'Country'], dtype=object)

In [5]:
df.info() #Here we can notice some discrepancy in Item Description column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083818 entries, 0 to 1083817
Data columns (total 8 columns):
UserId                    1083818 non-null int64
TransactionId             1083818 non-null int64
TransactionTime           1083818 non-null object
ItemCode                  1083818 non-null int64
ItemDescription           1080910 non-null object
NumberOfItemsPurchased    1083818 non-null int64
CostPerItem               1083818 non-null float64
Country                   1083818 non-null object
dtypes: float64(1), int64(4), object(3)
memory usage: 66.2+ MB

In [6]:
df.drop(df[df['CostPerItem'] <=0].index, inplace = True) 
print(df)

         UserId  TransactionId               TransactionTime  ItemCode  \
0        278166        6355745  Sat Feb 02 12:50:00 IST 2019    465549
1        337701        6283376  Wed Dec 26 09:06:00 IST 2018    482370
2        267099        6385599  Fri Feb 15 09:45:00 IST 2019    490728
3        380478        6044973  Fri Jun 22 07:14:00 IST 2018    459186
4            -1        6143225  Mon Sep 10 11:58:00 IST 2018   1733592
5        285957        6307136  Fri Jan 11 09:50:00 IST 2019   1787247
6        345954        6162981  Fri Sep 28 10:51:00 IST 2018    471576
7            -1        6143225  Mon Sep 10 11:58:00 IST 2018    447867
8        339822        6255403  Mon Dec 10 09:23:00 IST 2018   1783845
9        328440        6387425  Sat Feb 16 10:35:00 IST 2019    494802
10       316848        6262696  Sat Dec 15 10:05:00 IST 2018    460215
11       372897        6199061  Mon Oct 29 09:04:00 IST 2018    459669
12       364791        6358242  Sun Feb 03 09:25:00 IST 2019    486276
13           -1        6058140  Mon Jul 02 07:33:00 IST 2018    435225
14       321321        6254358  Mon Dec 10 05:43:00 IST 2018    455868
15       304353        6328674  Mon Jan 21 09:54:00 IST 2019    477246
16       369852        6075883  Sat Jul 21 08:14:00 IST 2018    477036
17           -1        6288843  Sun Dec 30 12:58:00 IST 2018    489594
18       278985        6064025  Mon Jul 09 09:03:00 IST 2018   1771938
19       331884        6223569  Sun Nov 18 11:14:00 IST 2018    461622
20       335580        6031883  Mon Jun 11 11:05:00 IST 2018    476028
21       364308        6257163  Tue Dec 11 07:39:00 IST 2018    434028
22       262269        5945093  Wed Mar 21 09:13:00 IST 2018    474726
23           -1        6388019  Sat Feb 16 13:24:00 IST 2019    490329
24           -1        6212987  Sun Nov 11 08:02:00 IST 2018    443436
25       296016        6309336  Sat Jan 12 10:09:00 IST 2019    464751
26       373170        6101095  Mon Aug 06 08:34:00 IST 2018    452844
27       281568        6344448  Mon Jan 28 09:13:00 IST 2019    485667
28           -1        6217541  Wed Nov 14 05:26:00 IST 2018    469392
29       364266        6370276  Sat Feb 09 07:54:00 IST 2019    453348
...         ...            ...                           ...       ...
1083788  266805        6358264  Sun Feb 03 09:27:00 IST 2019   1786029
1083789      -1        6377547  Mon Feb 11 11:13:00 IST 2019    999453
1083790  270417        6095485  Sat Aug 04 05:58:00 IST 2018    315756
1083791  343770        6066181  Tue Jul 10 12:40:00 IST 2018    475692
1083792  379659        6187027  Wed Oct 17 07:00:00 IST 2018    494550
1083793  374661        6187060  Wed Oct 17 07:19:00 IST 2018    455133
1083794  334047        6389724  Sun Feb 17 08:21:00 IST 2019    453999
1083795  277368        6088335  Sun Jul 29 08:25:00 IST 2018    465633
1083796  374661        6099720  Sun Aug 05 13:03:00 IST 2018    482895
1083797  381360        6282133  Tue Dec 25 11:50:00 IST 2018   1732374
1083798      -1        6079524  Sun Jul 22 11:09:00 IST 2018   1787772
1083799  313131        6385808  Fri Feb 15 11:28:00 IST 2019   1764651
1083800  350385        6272541  Fri Dec 21 09:44:00 IST 2018    482874
1083801      -1        6212338  Sun Nov 11 06:39:00 IST 2018    446166
1083802  271551        5983934  Sun Apr 29 06:41:00 IST 2018    474684
1083803  290115        5962880  Sun Apr 08 08:16:00 IST 2018    452781
1083804      -1        6272057  Wed Dec 19 11:09:00 IST 2018    458031
1083805  365505        6395895  Tue Feb 19 13:12:00 IST 2019    449631
1083806  266196        6341709  Sun Jan 27 08:25:00 IST 2019    473613
1083807  321531        6044962  Fri Jun 22 07:11:00 IST 2018    477813
1083808  355488        6160286  Tue Sep 25 09:11:00 IST 2018    478191
1083809  321531        6037493  Sat Jun 16 09:57:00 IST 2018    441693
1083810      -1        6106650  Sun Aug 12 11:53:00 IST 2018    446040
1083811  352191        5973242  Mon Apr 16 10:37:00 IST 2018    466599
1083812  261681        6153092  Wed Sep 19 06:23:00 IST 2018    477330
1083813  313131        6040298  Mon Jun 18 09:18:00 IST 2018    437976
1083814  295743        6387117  Sat Feb 16 09:14:00 IST 2019    484113
1083815      -1        6361817  Tue Feb 05 05:26:00 IST 2019    497595
1083816  324765        5945500  Fri Mar 23 06:26:00 IST 2018    470883
1083817  351645        6118145  Tue Aug 21 08:21:00 IST 2018    471849

                             ItemDescription  NumberOfItemsPurchased  \
0           FAMILY ALBUM WHITE PICTURE FRAME                       6
1                      LONDON BUS COFFEE MUG                       3
2          SET 12 COLOUR PENCILS DOLLY GIRL                       72
3                UNION JACK FLAG LUGGAGE TAG                       3
4                        WASHROOM METAL SIGN                       3
5           CUT GLASS T-LIGHT HOLDER OCTAGON                      12
6            NATURAL SLATE CHALKBOARD LARGE                        9
7                        SKULLS WRITING SET                      120
8         MULTI COLOUR SILVER T-LIGHT HOLDER                      36
9        SET OF 6 RIBBONS PERFECTLY PRETTY                        36
10                    RED  HARMONICA IN BOX                       36
11                    WOODEN BOX OF DOMINOES                       3
12             SET OF 5 MINI GROCERY MAGNETS                       3
13                   LUNCH BAG RED RETROSPOT                      60
14           FOLDING UMBRELLA CREAM POLKADOT                      12
15                ALARM CLOCK BAKELIKE GREEN                      24
16                        CARD CIRCUS PARADE                      36
17              VINTAGE CHRISTMAS TABLECLOTH                       3
18             SET OF 3 HEART COOKIE CUTTERS                      36
19                  PACK OF 12 SUKI TISSUES                       72
20                         PINK BABY BUNTING                     150
21           DISCO BALL CHRISTMAS DECORATION                      72
22                WOODEN SKITTLES GARDEN SET                       6
23               ROLL WRAP VINTAGE CHRISTMAS                      30
24                              OWL DOORSTOP                       3
25          FOOD CONTAINER SET 3 LOVE HEART                        3
26            PINK  HEART SHAPE LOVE BUCKET                       15
27                 FELTCRAFT GIRL NICOLE KIT                      36
28         LUNCH BOX WITH CUTLERY RETROSPOT                        3
29              RETROSPOT GIANT TUBE MATCHES                       6
...                                      ...                     ...
1083788               CHOCOLATE BOX RIBBONS                       36
1083789                SCOTTIE DOGS BABY BIB                       6
1083790            ASSORTED COLOURS SILK FAN                      72
1083791                    TRAVEL SEWING KIT                       3
1083792               WRAP ALPHABET POSTER                       150
1083793  WHITE SPOT BLUE CERAMIC DRAWER KNOB                      72
1083794          4 VANILLA BOTANICAL CANDLES                       6
1083795   METAL 4 HOOK HANGER FRENCH CHATEAU                      12
1083796              TRAVEL CARD WALLET SUKI                       3
1083797          WOODEN FRAME ANTIQUE WHITE                       18
1083798         CHARLIE + LOLA BISCUITS TINS                       3
1083799   CHARLIE+LOLA RED HOT WATER BOTTLE                       72
1083800         TRAVEL CARD WALLET RETROSPOT                      72
1083801               RED RETROSPOT BIG BOWL                       3
1083802       SET OF 4 NAPKIN CHARMS CUTLERY                     768
1083803      DINOSAUR LUNCH BOX WITH CUTLERY                      18
1083804              HANGING HEART WITH BELL                      24
1083805          GINGHAM HEART  DOORSTOP RED                      24
1083806               PLASTERS IN TIN SKULLS                      36
1083807      SMALL YELLOW BABUSHKA NOTEBOOK                        6
1083808  CLEAR DRAWER KNOB ACRYLIC EDWARDIAN                      72
1083809      JUMBO BAG CHARLIE AND LOLA TOYS                       6
1083810                    BLUE POLKADOT CUP                       6
1083811   LOVEBIRD HANGING DECORATION WHITE                       24
1083812           ALARM CLOCK BAKELIKE IVORY                      12
1083813     DENIM PATCH PURSE PINK BUTTERFLY                      30
1083814           RECYCLED ACAPULCO MAT PINK                       6
1083815                 DOILY THANK YOU CARD                      15
1083816             REGENCY CAKESTAND 3 TIER                      48
1083817                HEART OF WICKER SMALL                       9

         CostPerItem         Country
0              11.73  United Kingdom
1               3.52  United Kingdom
2               0.90          France
3               1.73  United Kingdom
4               3.40  United Kingdom
5               3.52  United Kingdom
6               6.84  United Kingdom
7               1.15  United Kingdom
8               1.18  United Kingdom
9               3.99  United Kingdom
10              1.73  United Kingdom
11              1.73  United Kingdom
12              2.88  United Kingdom
13              6.85  United Kingdom
14              6.84  United Kingdom
15              5.18  United Kingdom
16              0.58  United Kingdom
17             34.45  United Kingdom
18              1.73  United Kingdom
19              0.54  United Kingdom
20              3.52  United Kingdom
21              0.17  United Kingdom
22             22.02          France
23              3.40  United Kingdom
24             11.45  United Kingdom
25              5.70  United Kingdom
26              4.08  United Kingdom
27              6.84  United Kingdom
28              6.85  United Kingdom
29              3.52  United Kingdom
...              ...             ...
1083788         1.73         Germany
1083789         1.15  United Kingdom
1083790         1.15  United Kingdom
1083791         2.28  United Kingdom
1083792         0.58  United Kingdom
1083793         1.73  United Kingdom
1083794         1.73  United Kingdom
1083795         4.08  United Kingdom
1083796         0.58  United Kingdom
1083797         4.08  United Kingdom
1083798        11.45  United Kingdom
1083799         1.73            EIRE
1083800         0.58  United Kingdom
1083801         5.70  United Kingdom
1083802         2.90  United Kingdom
1083803         3.52         Germany
1083804         1.15  United Kingdom
1083805         2.70  United Kingdom
1083806         2.28          Sweden
1083807         1.18  United Kingdom
1083808         1.73  United Kingdom
1083809         2.88  United Kingdom
1083810         2.25  United Kingdom
1083811         1.18  United Kingdom
1083812         5.18     Switzerland
1083813         2.28            EIRE
1083814        11.39  United Kingdom
1083815         1.15  United Kingdom
1083816        15.12  United Kingdom
1083817         2.28  United Kingdom

[1078784 rows x 8 columns]

In [7]:
print(df[df['ItemCode']<0])

         UserId  TransactionId               TransactionTime  ItemCode  \
154      266301        5970085  Sat Apr 14 11:36:00 IST 2018        -1
251      266028        5969843  Sat Apr 14 09:27:00 IST 2018        -1
993      287574        6190756  Sun Oct 21 10:27:00 IST 2018        -1
1261     264243        6153851  Wed Sep 19 08:22:00 IST 2018        -1
1293         -1        6026130  Wed Jun 06 11:50:00 IST 2018        -1
1626         -1        5978071  Sun Apr 22 09:35:00 IST 2018        -1
1773     268632        6026867  Sat Jun 09 07:36:00 IST 2018        -1
2030         -1        5937096  Sun Mar 04 11:18:00 IST 2018        -1
2064         -1        6138407  Wed Sep 05 08:33:00 IST 2018        -1
2263         -1        6297005  Sat Jan 05 08:41:00 IST 2019        -1
2700     260757        5961901  Sun Apr 08 05:11:00 IST 2018        -1
2773     269031        6023226  Tue Jun 05 05:42:00 IST 2018        -1
3198     265041        6240355  Sat Dec 01 09:28:00 IST 2018        -1
3279     261954        5953464  Wed Mar 28 10:45:00 IST 2018        -1
3296     268968        5909706  Sat Feb 17 06:27:00 IST 2018        -1
3618         -1        6077005  Sat Jul 21 10:38:00 IST 2018        -1
3869     305067        6000236  Tue May 15 07:05:00 IST 2018        -1
4102     259392        6242555  Sun Dec 02 10:34:00 IST 2018        -1
4175         -1        6199039  Mon Oct 29 08:34:00 IST 2018        -1
4274     265860        6370683  Sat Feb 09 09:26:00 IST 2019        -1
4369         -1        6212998  Sun Nov 11 08:10:00 IST 2018        -1
4550     262983        5990435  Sat May 05 10:58:00 IST 2018        -1
4907     281568        6187665  Wed Oct 17 08:22:00 IST 2018        -1
5031     325542        6263202  Sat Dec 15 12:44:00 IST 2018        -1
5092         -1        6088841  Sun Jul 29 11:09:00 IST 2018        -1
5386     264243        6133897  Sun Sep 02 10:30:00 IST 2018        -1
5492     369852        6171121  Wed Oct 03 12:05:00 IST 2018        -1
6800     260757        6065378  Tue Jul 10 09:09:00 IST 2018        -1
6910     265734        5987322  Tue May 01 09:16:00 IST 2018        -1
7025         -1        6115153  Sun Aug 19 13:09:00 IST 2018        -1
...         ...            ...                           ...       ...
1079465  263802        6283640  Wed Dec 26 10:55:00 IST 2018        -1
1079535  263802        6346351  Tue Jan 29 07:34:00 IST 2019        -1
1079865  264369        6333217  Wed Jan 23 06:19:00 IST 2019        -1
1079909  263949        6381694  Wed Feb 13 06:24:00 IST 2019        -1
1079935      -1        6046524  Sat Jun 23 09:24:00 IST 2018        -1
1079963  267897        6363093  Tue Feb 05 08:30:00 IST 2019        -1
1080139  264243        6279361  Mon Dec 24 10:46:00 IST 2018        -1
1080301  336567        5988807  Wed May 02 13:19:00 IST 2018        -1
1080361      -1        6249485  Wed Dec 05 13:04:00 IST 2018        -1
1081027  273483        6268944  Tue Dec 18 12:27:00 IST 2018        -1
1081120      -1        6125086  Mon Aug 27 06:25:00 IST 2018        -1
1081223  261177        6303396  Tue Jan 08 09:44:00 IST 2019        -1
1081345      -1        6296906  Sat Jan 05 08:23:00 IST 2019        -1
1081418  278523        6143071  Mon Sep 10 11:03:00 IST 2018        -1
1081590  373800        6145469  Wed Sep 12 06:58:00 IST 2018        -1
1081642  261891        6016120  Wed May 30 05:55:00 IST 2018        -1
1081815      -1        5963265  Sun Apr 08 10:01:00 IST 2018        -1
1081831      -1        6289767  Mon Dec 31 07:41:00 IST 2018        -1
1081982  265041        5982900  Sat Apr 28 08:11:00 IST 2018        -1
1082072  306747        6295784  Sat Jan 05 06:43:00 IST 2019        -1
1082314      -1        6296950  Sat Jan 05 08:35:00 IST 2019        -1
1082767  369663        6164785  Sat Sep 29 12:01:00 IST 2018        -1
1082783      -1        6108058  Mon Aug 13 13:33:00 IST 2018        -1
1082835  305067        6349497  Wed Jan 30 08:06:00 IST 2019        -1
1083108  292299        6277326  Sun Dec 23 10:24:00 IST 2018        -1
1083208      -1        6079282  Sun Jul 22 11:04:00 IST 2018        -1
1083250      -1        6084782  Wed Jul 25 11:53:00 IST 2018        -1
1083503      -1        6167238  Mon Oct 01 07:42:00 IST 2018        -1
1083581  260715        6035271  Wed Jun 13 10:28:00 IST 2018        -1
1083780  259392        5998652  Sun May 13 11:52:00 IST 2018        -1

        ItemDescription  NumberOfItemsPurchased  CostPerItem         Country
154             POSTAGE                       9        24.84          France
251             POSTAGE                      21        24.84         Germany
993            Discount                      -3        88.32  United Kingdom
1261            POSTAGE                       6        24.84          France
1293     DOTCOM POSTAGE                       3       304.58  United Kingdom
1626     DOTCOM POSTAGE                       3       212.12  United Kingdom
1773            POSTAGE                       6        38.64        Portugal
2030     DOTCOM POSTAGE                       3       465.38  United Kingdom
2064         AMAZON FEE                      -3      6257.26  United Kingdom
2263             Manual                      -3       366.67  United Kingdom
2700            POSTAGE                       6        20.70         Belgium
2773            POSTAGE                       3        37.26        Portugal
3198            POSTAGE                       6        24.84         Germany
3279            POSTAGE                       3        24.84         Germany
3296            POSTAGE                       3        38.64        Portugal
3618             Manual                      -3       810.18  United Kingdom
3869           Discount                      -3        41.93  United Kingdom
4102            POSTAGE                       6        55.20          Norway
4175     DOTCOM POSTAGE                       3      1593.45  United Kingdom
4274            POSTAGE                       3        24.84          France
4369     DOTCOM POSTAGE                       3       265.94  United Kingdom
4550            POSTAGE                       3        24.84          France
4907             Manual                      -3        60.21  United Kingdom
5031             Manual                       3      4355.22  United Kingdom
5092            SAMPLES                      -3       120.05  United Kingdom
5386            POSTAGE                       3        24.84          France
5492            POSTAGE                      -3         4.35  United Kingdom
6800            POSTAGE                       9        38.64           Spain
6910            POSTAGE                       3        24.84         Germany
7025     DOTCOM POSTAGE                       3       306.61  United Kingdom
...                 ...                     ...          ...             ...
1079465         POSTAGE                       6        24.84          France
1079535         POSTAGE                      15        24.84          France
1079865         POSTAGE                       9        24.84          France
1079909         POSTAGE                       3        24.84         Germany
1079935         SAMPLES                       3        41.40  United Kingdom
1079963         POSTAGE                       6        38.64        Portugal
1080139         POSTAGE                       3        24.84          France
1080301          Manual                      -3       113.85  United Kingdom
1080361  DOTCOM POSTAGE                       3       278.52  United Kingdom
1081027         POSTAGE                       9        20.70  United Kingdom
1081120  DOTCOM POSTAGE                       3       382.26  United Kingdom
1081223         POSTAGE                       6        24.84          France
1081345          Manual                      -3       416.82  United Kingdom
1081418          Manual                       6         2.70  United Kingdom
1081590          Manual                       3         1.38  United Kingdom
1081642         POSTAGE                      24        24.84         Germany
1081815  DOTCOM POSTAGE                       3       341.61  United Kingdom
1081831  DOTCOM POSTAGE                       3      1198.13  United Kingdom
1081982         POSTAGE                       9        24.84         Germany
1082072          Manual                     144         2.07  United Kingdom
1082314         POSTAGE                      -3        40.41  United Kingdom
1082767          Manual                      -3       406.99  United Kingdom
1082783  DOTCOM POSTAGE                       3       135.19  United Kingdom
1082835        Discount                      -3        23.13  United Kingdom
1083108         POSTAGE                       3        24.84         Denmark
1083208  DOTCOM POSTAGE                       3       223.40  United Kingdom
1083250  DOTCOM POSTAGE                       3       210.03  United Kingdom
1083503          Manual                       3       622.96  United Kingdom
1083581         POSTAGE                       3       483.00       Australia
1083780          Manual                       3       386.47          Norway

[5560 rows x 8 columns]

In [8]:
df.drop(df[df['ItemCode'] <0].index, inplace = True)

In [9]:
df.drop(df[df['NumberOfItemsPurchased'] <=0].index, inplace = True)

In [10]:
df['Country'].value_counts()
####Check once print(len(df['Country'].value_counts())

United Kingdom          968082
Germany                  17316
France                   16204
EIRE                     15770
Spain                     4844
Netherlands               4644
Switzerland               3870
Belgium                   3870
Portugal                  2928
Australia                 2362
Norway                    2096
Channel Islands           1494
Italy                     1482
Finland                   1294
Cyprus                    1224
Unspecified                892
Sweden                     856
Austria                    768
Denmark                    734
Poland                     650
Japan                      642
Israel                     590
Hong Kong                  558
Singapore                  430
Iceland                    364
USA                        358
Canada                     300
Greece                     284
Malta                      218
United Arab Emirates       134
European Community         114
RSA                        114
Lebanon                     90
Lithuania                   70
Brazil                      64
Czech Republic              48
Bahrain                     36
Saudi Arabia                18
Name: Country, dtype: int64

In [11]:
#Same Transaction Id must be linked to one country only to be valid....let's check that
df['Count'] = 1
df4 = df
df4 = df.pivot_table(index='TransactionId', columns='Country', values='Count', aggfunc=np.sum, fill_value = 0)

In [12]:
df4

Country,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,Czech Republic,Denmark,...,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified
TransactionId,,,,,,,,,,,,,,,,,,,,,
5900015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,14,0
5900026,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
5900037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,24,0
5900048,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8,0
5900059,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
5900070,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5900081,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
5900092,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
5900103,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,32,0
5900114,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
5900125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,32,0
5900136,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
5900147,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
5900158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,38,0
5900180,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
5900191,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,70,0
5900202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,24,0
5900224,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,26,0
5900235,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,14,0
5900246,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,0
5900257,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,0
5900268,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,28,0
5900279,28,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5900290,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,48,0
5900312,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,20,0
5900323,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
5900334,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,22,0
5900345,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,28,0
5900356,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,36,0
5900367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6396401,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6396412,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1460,0
6396423,0,0,0,32,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6396434,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6396445,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,30,0
6396456,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,64,0
6396467,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,118,0
6396478,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,434,0
6396500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,0
6396511,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,48,0
6396522,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,40,0
6396654,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,48,0
6396676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,30,0
6396918,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,148,0
6397226,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
6397237,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,24,0
6397270,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6397281,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,40,0
6397292,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8,0
6397314,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6397358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6397369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,60,0
6397380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,48,0
6397391,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,0
6397402,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
6397413,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
6397424,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
6397435,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,42,0
6397446,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8,0
6397457,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df4.astype(bool).sum(axis=1)
print(df4.astype(bool).sum(axis=1))
#df7 = df.drop(['TransactionTime', 'ItemDescription', 'CostPerItem', 'ItemCode','NumberOfItemsPurchased'], axis=1)
#df7.groupby('TransactionId').apply(lambda c: (c != 0).sum())

TransactionId
5900015    1
5900026    1
5900037    1
5900048    1
5900059    1
5900070    1
5900081    1
5900092    1
5900103    1
5900114    1
5900125    1
5900136    1
5900147    1
5900158    1
5900180    1
5900191    1
5900202    1
5900224    1
5900235    1
5900246    1
5900257    1
5900268    1
5900279    1
5900290    1
5900312    1
5900323    1
5900334    1
5900345    1
5900356    1
5900367    1
          ..
6396401    1
6396412    1
6396423    1
6396434    1
6396445    1
6396456    1
6396467    1
6396478    1
6396500    1
6396511    1
6396522    1
6396654    1
6396676    1
6396918    1
6397226    1
6397237    1
6397270    1
6397281    1
6397292    1
6397314    1
6397358    1
6397369    1
6397380    1
6397391    1
6397402    1
6397413    1
6397424    1
6397435    1
6397446    1
6397457    1
Length: 19776, dtype: int64

In [14]:
df4.astype(bool).sum(axis=0)
# 19776 matches with the number of  rows in Pivot Table, hence this gives assurance
# there being a single country for a particular transaction number and ensures data's accuracy.

Country
Australia                  56
Austria                    17
Bahrain                     3
Belgium                    98
Brazil                      1
Canada                      5
Channel Islands            25
Cyprus                     14
Czech Republic              2
Denmark                    18
EIRE                      284
European Community          3
Finland                    40
France                    383
Germany                   443
Greece                      5
Hong Kong                   7
Iceland                     7
Israel                      8
Italy                      35
Japan                      19
Lebanon                     1
Lithuania                   4
Malta                       5
Netherlands                93
Norway                     32
Poland                     19
Portugal                   50
RSA                         1
Saudi Arabia                1
Singapore                   4
Spain                      88
Sweden                     34
Switzerland                50
USA                         5
United Arab Emirates        2
United Kingdom          17901
Unspecified                13
dtype: int64

In [15]:
print(df4.astype(bool).sum(axis=0).sum())# This proves that each Transaction ID belongs to One Country only
#This assures us of the correctness of the TransactionId data. As if this was not the case then the total number of country 
#entries would have exceeeded the total number of unique transaction values.

19776

In [16]:
df[df['UserId']<0]

,UserId,TransactionId,TransactionTime,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,Country,Count
4,-1,6143225,Mon Sep 10 11:58:00 IST 2018,1733592,WASHROOM METAL SIGN,3,3.40,United Kingdom,1
7,-1,6143225,Mon Sep 10 11:58:00 IST 2018,447867,SKULLS WRITING SET,120,1.15,United Kingdom,1
13,-1,6058140,Mon Jul 02 07:33:00 IST 2018,435225,LUNCH BAG RED RETROSPOT,60,6.85,United Kingdom,1
17,-1,6288843,Sun Dec 30 12:58:00 IST 2018,489594,VINTAGE CHRISTMAS TABLECLOTH,3,34.45,United Kingdom,1
23,-1,6388019,Sat Feb 16 13:24:00 IST 2019,490329,ROLL WRAP VINTAGE CHRISTMAS,30,3.40,United Kingdom,1
24,-1,6212987,Sun Nov 11 08:02:00 IST 2018,443436,OWL DOORSTOP,3,11.45,United Kingdom,1
28,-1,6217541,Wed Nov 14 05:26:00 IST 2018,469392,LUNCH BOX WITH CUTLERY RETROSPOT,3,6.85,United Kingdom,1
30,-1,6212294,Sun Nov 11 06:29:00 IST 2018,482559,PANTRY WASHING UP BRUSH,6,4.55,United Kingdom,1
36,-1,5934412,Sat Mar 03 06:14:00 IST 2018,436380,BLACK EAR MUFF HEADPHONES,3,15.21,United Kingdom,1
37,-1,5952144,Tue Mar 27 10:29:00 IST 2018,434973,JUMBO BAG OWLS,12,5.70,United Kingdom,1
43,-1,5925458,Sat Feb 24 12:46:00 IST 2018,440370,PINK FLORAL FELTCRAFT SHOULDER BAG,3,5.18,United Kingdom,1
45,-1,6079370,Sun Jul 22 11:06:00 IST 2018,456351,RED TOADSTOOL LED NIGHT LIGHT,3,5.70,United Kingdom,1
50,-1,6149418,Sun Sep 16 11:31:00 IST 2018,474873,PACK OF 20 SPACEBOY NAPKINS,3,2.25,United Kingdom,1
57,-1,6390813,Sun Feb 17 12:26:00 IST 2019,476763,PINK CAT BOWL,6,2.25,United Kingdom,1
68,-1,5956676,Sun Apr 01 13:34:00 IST 2018,477162,SET OF 6 SPICE TINS PANTRY DESIGN,6,11.45,United Kingdom,1
71,-1,6396412,Wed Feb 20 06:03:00 IST 2019,478989,SET OF 6 T-LIGHTS SANTA,3,8.00,United Kingdom,1
72,-1,6314814,Mon Jan 14 11:33:00 IST 2019,1765638,SET/4 WHITE RETRO STORAGE CUBES,3,80.45,United Kingdom,1
73,-1,6104560,Wed Aug 08 11:18:00 IST 2018,466137,SMALL POPCORN HOLDER,12,2.25,United Kingdom,1
76,-1,5986211,Tue May 01 06:11:00 IST 2018,1787079,JUMBO BAG BAROQUE BLACK WHITE,15,5.70,United Kingdom,1
77,-1,6137318,Tue Sep 04 11:35:00 IST 2018,472332,MINI PAINT SET VINTAGE,3,2.25,United Kingdom,1
82,-1,5945148,Wed Mar 21 09:55:00 IST 2018,1784370,HANGING HEART ZINC T-LIGHT HOLDER,18,2.94,United Kingdom,1
91,-1,6149605,Sun Sep 16 13:09:00 IST 2018,482055,36 FOIL STAR CAKE CASES,3,3.40,United Kingdom,1
93,-1,6032103,Mon Jun 11 12:34:00 IST 2018,472017,WATERING CAN GARDEN MARKER,3,3.40,United Kingdom,1
99,-1,5921839,Wed Feb 21 10:59:00 IST 2018,457989,CHRISTMAS HANGING TREE WITH BELL,3,3.47,United Kingdom,1
105,-1,6052332,Wed Jun 27 06:41:00 IST 2018,474999,SET OF 6 SOLDIER SKITTLES,3,10.30,United Kingdom,1
108,-1,6371057,Sat Feb 09 11:31:00 IST 2019,435393,GOLD MINI TAPE MEASURE,9,1.15,United Kingdom,1
113,-1,5955664,Sat Mar 31 13:57:00 IST 2018,471870,HEART OF WICKER LARGE,3,8.00,United Kingdom,1
115,-1,6236439,Tue Nov 27 12:32:00 IST 2018,482958,TRAVEL CARD WALLET KEEP CALM,3,1.15,United Kingdom,1
117,-1,6214714,Mon Nov 12 11:32:00 IST 2018,445536,"SET 3 RETROSPOT TEA,COFFEE,SUGAR",3,14.90,United Kingdom,1
119,-1,5960570,Sat Apr 07 05:39:00 IST 2018,457254,DECORATIVE CATS BATHROOM BOTTLE,3,3.40,United Kingdom,1
...,...,...,...,...,...,...,...,...,...
1083677,-1,6374632,Sun Feb 10 12:47:00 IST 2019,492135,3 RAFFIA RIBBONS VINTAGE CHRISTMAS,6,1.15,United Kingdom,1
1083680,-1,6232633,Sun Nov 25 12:12:00 IST 2018,456015,GIRLS VINTAGE TIN SEASIDE BUCKET,12,6.85,United Kingdom,1
1083685,-1,6129541,Wed Aug 29 10:09:00 IST 2018,451164,CHICK GREY HOT WATER BOTTLE,3,11.45,United Kingdom,1
1083698,-1,5960658,Sat Apr 07 06:28:00 IST 2018,445536,"SET 3 RETROSPOT TEA,COFFEE,SUGAR",3,14.90,United Kingdom,1
1083699,-1,6377547,Mon Feb 11 11:13:00 IST 2019,497301,LUNCH BAG RED VINTAGE DOILY,6,5.70,United Kingdom,1
1083700,-1,5914326,Fri Feb 18 14:36:00 IST 2028,465129,FELTCRAFT 6 FLOWER FRIENDS,3,5.81,United Kingdom,1
1083701,-1,5911774,Sat Feb 17 12:57:00 IST 2018,461601,PACK OF 12 WOODLAND TISSUES,6,1.18,United Kingdom,1
1083707,-1,6168492,Mon Oct 01 12:12:00 IST 2018,1774689,SET OF 4 POLKADOT PLACEMATS,3,4.55,United Kingdom,1
1083708,-1,5986244,Tue May 01 06:30:00 IST 2018,469959,RECYCLING BAG RETROSPOT,6,6.85,United Kingdom,1
1083712,-1,6263114,Sat Dec 15 12:14:00 IST 2018,457611,VINTAGE HEADS AND TAILS CARD GAME,3,3.40,United Kingdom,1
1083713,-1,6244348,Mon Dec 03 11:29:00 IST 2018,748629,VINTAGE BEAD COSMETIC BAG,6,3.40,United Kingdom,1
1083721,-1,6224251,Mon Nov 19 08:04:00 IST 2018,1764651,CHARLIE LOLA BLUE HOT WATER BOTTLE,3,5.70,United Kingdom,1
1083724,-1,6150793,Mon Sep 17 12:33:00 IST 2018,440538,36 PENCILS TUBE SKULLS,3,3.40,United Kingdom,1
1083732,-1,5943872,Tue Mar 20 10:27:00 IST 2018,472101,BLACK TEA TOWEL CLASSIC DESIGN,9,1.18,United Kingdom,1
1083733,-1,6184904,Mon Oct 15 12:14:00 IST 2018,435204,RED RETROSPOT CHARLOTTE BAG,6,2.25,United Kingdom,1
1083736,-1,6326518,Sun Jan 20 11:24:00 IST 2019,479052,PACK 3 BOXES CHRISTMAS PANNETONE,6,5.70,United Kingdom,1
1083748,-1,6021400,Sun Jun 03 12:56:00 IST 2018,1519329,SET/6 PURPLE BUTTERFLY T-LIGHTS,3,5.70,United Kingdom,1
1083749,-1,5976795,Sat Apr 21 08:29:00 IST 2018,457863,CHRISTMAS TREE STAR DECORATION,3,0.58,United Kingdom,1
1083753,-1,6268878,Tue Dec 18 12:08:00 IST 2018,487284,CHARLOTTE BAG APPLES DESIGN,6,2.25,United Kingdom,1
1083754,-1,6079447,Sun Jul 22 11:07:00 IST 2018,472542,PICNIC BASKET WICKER SMALL,3,11.45,United Kingdom,1
1083775,-1,6212360,Sun Nov 11 06:47:00 IST 2018,464373,GREY HEART HOT WATER BOTTLE,3,10.30,United Kingdom,1
1083778,-1,6100006,Mon Aug 06 05:37:00 IST 2018,462777,ROBOT BIRTHDAY CARD,15,0.58,United Kingdom,1
1083779,-1,5924226,Sat Feb 24 07:21:00 IST 2018,472038,BIRDHOUSE GARDEN MARKER,3,3.47,United Kingdom,1
1083787,-1,6324450,Sun Jan 20 05:29:00 IST 2019,488082,TREASURE TIN BUFFALO BILL,6,2.88,United Kingdom,1
1083789,-1,6377547,Mon Feb 11 11:13:00 IST 2019,999453,SCOTTIE DOGS BABY BIB,6,1.15,United Kingdom,1
1083798,-1,6079524,Sun Jul 22 11:09:00 IST 2018,1787772,CHARLIE + LOLA BISCUITS TINS,3,11.45,United Kingdom,1
1083801,-1,6212338,Sun Nov 11 06:39:00 IST 2018,446166,RED RETROSPOT BIG BOWL,3,5.70,United Kingdom,1
1083804,-1,6272057,Wed Dec 19 11:09:00 IST 2018,458031,HANGING HEART WITH BELL,24,1.15,United Kingdom,1
1083810,-1,6106650,Sun Aug 12 11:53:00 IST 2018,446040,BLUE POLKADOT CUP,6,2.25,United Kingdom,1
1083815,-1,6361817,Tue Feb 05 05:26:00 IST 2019,497595,DOILY THANK YOU CARD,15,1.15,United Kingdom,1

In [17]:
#df.drop(df[df['UserId'] <=0].index, inplace = True) 
#We can drop this, 
#but since the transaction took place we can still learn from this data.
#I'll consider both cases ahead with and without the UserId(-1), as the count of such rows is considerable.

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1055812 entries, 0 to 1083817
Data columns (total 9 columns):
UserId                    1055812 non-null int64
TransactionId             1055812 non-null int64
TransactionTime           1055812 non-null object
ItemCode                  1055812 non-null int64
ItemDescription           1055812 non-null object
NumberOfItemsPurchased    1055812 non-null int64
CostPerItem               1055812 non-null float64
Country                   1055812 non-null object
Count                     1055812 non-null int64
dtypes: float64(1), int64(5), object(3)
memory usage: 80.6+ MB

In [19]:
df1 = df.drop(['UserId','TransactionTime', 'ItemDescription', 'CostPerItem','NumberOfItemsPurchased'], axis=1)

In [20]:
df1.head(15)

    TransactionId  ItemCode         Country  Count
0         6355745    465549  United Kingdom      1
1         6283376    482370  United Kingdom      1
2         6385599    490728          France      1
3         6044973    459186  United Kingdom      1
4         6143225   1733592  United Kingdom      1
5         6307136   1787247  United Kingdom      1
6         6162981    471576  United Kingdom      1
7         6143225    447867  United Kingdom      1
8         6255403   1783845  United Kingdom      1
9         6387425    494802  United Kingdom      1
10        6262696    460215  United Kingdom      1
11        6199061    459669  United Kingdom      1
12        6358242    486276  United Kingdom      1
13        6058140    435225  United Kingdom      1
14        6254358    455868  United Kingdom      1

In [21]:
df2 = df
df2.drop(df2[df2['UserId'] <=0].index, inplace = True)
df2 = df2.drop(['UserId','TransactionTime', 'ItemDescription', 'CostPerItem','NumberOfItemsPurchased'], axis=1)
df2.head(15)

    TransactionId  ItemCode         Country  Count
0         6355745    465549  United Kingdom      1
1         6283376    482370  United Kingdom      1
2         6385599    490728          France      1
3         6044973    459186  United Kingdom      1
5         6307136   1787247  United Kingdom      1
6         6162981    471576  United Kingdom      1
8         6255403   1783845  United Kingdom      1
9         6387425    494802  United Kingdom      1
10        6262696    460215  United Kingdom      1
11        6199061    459669  United Kingdom      1
12        6358242    486276  United Kingdom      1
14        6254358    455868  United Kingdom      1
15        6328674    477246  United Kingdom      1
16        6075883    477036  United Kingdom      1
18        6064025   1771938  United Kingdom      1

In [22]:
df2['Country'].value_counts()

United Kingdom          708030
Germany                  17316
France                   16072
EIRE                     14468
Spain                     4844
Netherlands               4644
Belgium                   3870
Switzerland               3620
Portugal                  2850
Australia                 2362
Norway                    2096
Channel Islands           1494
Italy                     1482
Finland                   1294
Cyprus                    1224
Sweden                     856
Austria                    768
Denmark                    734
Poland                     650
Japan                      642
Israel                     496
Unspecified                488
Singapore                  430
Iceland                    364
USA                        358
Canada                     300
Greece                     284
Malta                      218
United Arab Emirates       134
RSA                        114
European Community         114
Lebanon                     90
Lithuania                   70
Brazil                      64
Czech Republic              48
Bahrain                     34
Saudi Arabia                18
Name: Country, dtype: int64

In [23]:
df2.shape

(792940, 4)

In [24]:
#Let's continue with df1
df1.shape

(1055812, 4)

In [25]:
#nothing notable here
df1.describe()

       TransactionId      ItemCode      Count
count   1.055812e+06  1.055812e+06  1055812.0
mean    6.159868e+06  6.608518e+05        1.0
std     1.477574e+05  4.505984e+05        0.0
min     5.900015e+06  4.200000e+01        1.0
25%     6.027010e+06  4.614960e+05        1.0
50%     6.167876e+06  4.753560e+05        1.0
75%     6.290427e+06  4.889640e+05        1.0
max     6.397457e+06  1.894494e+06        1.0

In [26]:
#Let's use the popular Apriori Algorithm on df1 now for France.
dfx = (df1[df1['Country'] == 'France'])
df3 = dfx.pivot_table(index='TransactionId', columns='ItemCode', values='Count', aggfunc=np.sum, fill_value = 0)

In [27]:
print(df3)

ItemCode       42       210042   212520   212625   212835   231021   315756   \
TransactionId
5900070              0        2        0        0        0        0        0
5905372              0        0        0        0        0        0        0
5906714              0        0        0        0        0        0        0
5907715              0        0        0        0        0        0        0
5912093              0        0        0        0        0        0        0
5912148              0        0        0        0        0        0        0
5914623              0        0        0        0        0        0        0
5916867              0        0        0        0        0        0        0
5917637              0        0        0        0        0        0        0
5918088              0        0        0        0        0        0        0
5919023              0        2        0        0        0        0        0
5920156              0        2        0        0        0        0        0
5929550              0        0        0        0        0        0        0
5930243              0        0        0        0        0        0        0
5933477              0        0        0        0        0        0        0
5933785              0        0        0        0        0        0        0
5935061              0        0        0        0        0        0        0
5935677              0        0        0        0        0        0        0
5936568              2        0        0        0        0        0        0
5936997              0        0        0        0        0        0        0
5938119              0        0        0        0        0        0        0
5941958              0        0        0        0        0        0        0
5942629              0        2        0        0        0        0        0
5943861              0        0        0        2        0        0        0
5944015              0        0        0        0        0        0        0
5945005              0        0        0        0        0        0        0
5945093              0        0        0        0        0        0        0
5945731              0        0        0        0        0        0        0
5947062              0        0        0        0        0        0        0
5947568              0        0        0        0        0        0        0
...                ...      ...      ...      ...      ...      ...      ...
6365678              0        0        0        0        0        0        0
6366096              0        0        0        0        0        0        0
6367185              0        0        0        0        0        0        0
6370683              0        0        0        0        0        0        0
6371090              0        0        0        0        0        0        0
6371123              0        0        0        0        0        0        0
6372795              0        0        0        0        0        0        0
6374412              0        0        0        0        0        0        0
6374819              0        0        0        0        2        0        0
6375974              0        0        0        0        0        0        0
6376788              0        0        0        0        0        0        0
6377712              0        0        0        0        0        0        0
6378570              0        0        0        0        0        0        0
6381320              0        0        0        0        0        0        0
6381386              0        0        0        0        0        0        0
6381584              0        0        0        0        0        0        0
6381760              0        0        0        0        0        0        0
6383135              0        0        0        0        0        0        0
6385599              0        0        0        0        0        0        0
6385874              0        0        0        0        0        0        0
6385896              0        0        0        0        0        0        0
6387755              0        0        0        0        0        0        0
6388096              0        0        0        0        0        0        0
6388283              0        0        0        0        0        0        0
6388316              0        0        0        0        0        0        0
6390846              0        0        0        0        0        0        0
6391011              0        0        0        0        0        0        0
6392881              0        0        0        0        0        0        0
6394069              0        0        0        0        0        0        0
6397457              0        0        0        0        0        0        0

ItemCode       315819   315924   316176   ...  1789179  1789326  1789767  \
TransactionId                             ...
5900070              0        0        0  ...        0        0        0
5905372              0        0        0  ...        0        0        0
5906714              0        0        4  ...        0        0        0
5907715              0        0        0  ...        0        0        2
5912093              0        0        0  ...        0        0        0
5912148              0        0        0  ...        0        0        0
5914623              0        0        0  ...        0        0        0
5916867              0        0        0  ...        0        0        0
5917637              0        0        0  ...        0        0        0
5918088              0        0        0  ...        0        0        0
5919023              0        0        2  ...        0        0        0
5920156              0        0        0  ...        0        0        0
5929550              0        0        0  ...        0        0        0
5930243              0        0        0  ...        0        0        0
5933477              0        0        0  ...        0        0        0
5933785              0        0        0  ...        0        0        0
5935061              0        0        4  ...        0        0        0
5935677              0        0        0  ...        0        0        0
5936568              0        0        0  ...        0        0        0
5936997              0        0        0  ...        0        0        0
5938119              0        0        0  ...        0        0        0
5941958              0        0        0  ...        0        0        0
5942629              0        0        6  ...        0        0        0
5943861              0        0        0  ...        0        0        0
5944015              0        0        0  ...        0        0        0
5945005              0        0        0  ...        0        0        0
5945093              0        0        0  ...        0        2        0
5945731              0        0        2  ...        0        0        0
5947062              0        0        0  ...        0        0        0
5947568              0        0        0  ...        0        0        0
...                ...      ...      ...  ...      ...      ...      ...
6365678              0        0        0  ...        0        0        0
6366096              0        0        0  ...        0        0        0
6367185              0        0        0  ...        0        0        0
6370683              0        0        0  ...        0        0        0
6371090              0        0        0  ...        0        0        0
6371123              0        0        0  ...        0        0        0
6372795              0        0        0  ...        0        0        0
6374412              0        0        0  ...        0        0        0
6374819              0        0        0  ...        0        0        0
6375974              0        0        0  ...        0        0        0
6376788              0        0        2  ...        0        0        0
6377712              0        0        2  ...        2        0        0
6378570              0        0        0  ...        0        0        0
6381320              0        0        0  ...        0        0        0
6381386              0        0        0  ...        0        0        0
6381584              0        0        0  ...        0        0        0
6381760              0        0        0  ...        0        0        0
6383135              0        0        0  ...        0        0        0
6385599              0        0        0  ...        0        0        0
6385874              0        0        0  ...        0        0        0
6385896              0        0        0  ...        0        0        0
6387755              0        0        0  ...        0        0        0
6388096              0        0        0  ...        0        0        0
6388283              0        0        0  ...        0        0        0
6388316              0        0        0  ...        0        0        0
6390846              0        0        0  ...        0        0        0
6391011              0        0        0  ...        0        0        0
6392881              0        0        0  ...        0        0        0
6394069              0        0        0  ...        0        0        0
6397457              0        0        0  ...        0        0        0

ItemCode       1789830  1789872  1890630  1890651  1892079  1893864  1894221
TransactionId
5900070              0        0        0        0        0        0        0
5905372              0        0        0        0        0        0        0
5906714              0        0        0        0        0        0        0
5907715              0        0        0        0        0        0        0
5912093              0        0        0        0        0        0        0
5912148              0        0        0        0        0        0        0
5914623              0        0        0        0        0        0        0
5916867              0        0        0        0        0        0        0
5917637              0        0        0        0        0        0        0
5918088              0        0        0        0        0        0        0
5919023              0        2        0        0        0        0        0
5920156              0        0        0        0        0        0        0
5929550              0        0        0        0        0        0        0
5930243              0        0        0        0        0        0        0
5933477              0        0        0        0        0        0        0
5933785              0        0        0        0        0        0        0
5935061              0        0        0        0        0        0        0
5935677              0        0        0        0        0        0        0
5936568              0        0        0        0        0        0        0
5936997              0        0        0        0        0        0        0
5938119              0        0        0        0        0        0        0
5941958              0        0        0        0        0        0        0
5942629              0        0        0        0        0        0        0
5943861              0        0        0        0        0        0        0
5944015              0        0        0        0        0        0        0
5945005              0        0        0        0        0        0        0
5945093              0        0        0        0        0        0        0
5945731              0        0        0        0        0        0        0
5947062              0        0        0        0        0        0        0
5947568              0        0        0        0        0        0        0
...                ...      ...      ...      ...      ...      ...      ...
6365678              0        0        4        2        0        0        0
6366096              0        0        0        0        0        0        0
6367185              0        0        0        0        0        0        0
6370683              0        0        0        0        0        0        0
6371090              0        0        0        0        0        0        0
6371123              0        0        0        0        0        0        0
6372795              0        0        0        0        0        0        0
6374412              0        0        0        0        0        0        0
6374819              0        0        0        0        0        0        0
6375974              0        0        0        0        0        0        0
6376788              0        0        0        0        0        0        0
6377712              0        0        0        0        0        0        0
6378570              0        0        0        0        0        0        0
6381320              0        0        0        0        0        0        0
6381386              0        0        0        0        0        0        0
6381584              0        0        0        0        0        0        0
6381760              0        0        0        0        0        0        0
6383135              0        0        0        0        0        0        0
6385599              0        0        0        0        0        0        2
6385874              0        0        0        0        0        0        0
6385896              0        0        0        0        0        0        0
6387755              0        0        0        0        0        0        0
6388096              0        0        0        0        0        0        0
6388283              0        0        0        0        0        0        0
6388316              0        0        0        0        0        0        0
6390846              0        0        0        0        0        0        0
6391011              0        0        0        0        0        0        0
6392881              0        0        0        0        0        0        0
6394069              0        0        0        0        0        0        0
6397457              0        0        0        0        0        0        0

[383 rows x 1492 columns]

In [28]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [29]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
df3 = df3.applymap(encode_units)
df3

ItemCode,42,210042,212520,212625,212835,231021,315756,315819,315924,316176,...,1789179,1789326,1789767,1789830,1789872,1890630,1890651,1892079,1893864,1894221
TransactionId,,,,,,,,,,,,,,,,,,,,,
5900070,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5905372,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5906714,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5907715,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5912093,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5912148,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5914623,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5916867,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5917637,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5918088,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5919023,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
5920156,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5929550,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5930243,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5933477,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5933785,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5935061,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5935677,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5936568,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5936997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5938119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5941958,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5942629,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5943861,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5944015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5945005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5945093,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5945731,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5947062,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5947568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6365678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
6366096,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6367185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6370683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6371090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6371123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6372795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6374412,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6374819,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6375974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6376788,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6377712,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
6378570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6381320,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6381386,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6381584,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6381760,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6383135,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6385599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6385874,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6385896,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6387755,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6388096,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6388283,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6388316,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6390846,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6391011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6392881,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6394069,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6397457,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
frequent_itemsets1 = apriori(df3, min_support=0.08, use_colnames=True)
rules1 = association_rules(frequent_itemsets1, metric="lift", min_threshold=1.1)

In [31]:
rules1.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(442680),(442806),0.135770,0.140992,0.104439,0.769231,5.455840,0.085296,3.722367
1,(442806),(442680),0.140992,0.135770,0.104439,0.740741,5.455840,0.085296,3.333458
2,(442680),(442974),0.135770,0.130548,0.104439,0.769231,5.892308,0.086714,3.767624
3,(442974),(442680),0.130548,0.135770,0.104439,0.800000,5.892308,0.086714,4.321149
4,(442974),(442806),0.130548,0.140992,0.125326,0.960000,6.808889,0.106920,21.475196
5,(442806),(442974),0.140992,0.130548,0.125326,0.888889,6.808889,0.106920,7.825065
6,(473634),(473571),0.174935,0.140992,0.107050,0.611940,4.340243,0.082385,2.213597
7,(473571),(473634),0.140992,0.174935,0.107050,0.759259,4.340243,0.082385,3.427194
8,(473571),(473676),0.140992,0.172324,0.091384,0.648148,3.761223,0.067088,2.352343
9,(473676),(473571),0.172324,0.140992,0.091384,0.530303,3.761223,0.067088,1.828855
10,(473634),(473676),0.174935,0.172324,0.104439,0.597015,3.464496,0.074293,2.053863
11,(473676),(473634),0.172324,0.174935,0.104439,0.606061,3.464496,0.074293,2.094396
12,(477267),(477246),0.096606,0.099217,0.080940,0.837838,8.444523,0.071355,5.554830
13,(477246),(477267),0.099217,0.096606,0.080940,0.815789,8.444523,0.071355,4.904140
14,"(442680, 442974)",(442806),0.104439,0.140992,0.101828,0.975000,6.915278,0.087103,34.360313
15,"(442680, 442806)",(442974),0.104439,0.130548,0.101828,0.975000,7.468500,0.088193,34.778068
16,"(442806, 442974)",(442680),0.125326,0.135770,0.101828,0.812500,5.984375,0.084812,4.609225
17,(442680),"(442806, 442974)",0.135770,0.125326,0.101828,0.750000,5.984375,0.084812,3.498695
18,(442974),"(442680, 442806)",0.130548,0.104439,0.101828,0.780000,7.468500,0.088193,4.070733
19,(442806),"(442680, 442974)",0.140992,0.104439,0.101828,0.722222,6.915278,0.087103,3.224021

In [32]:
#grp = (df1.groupby(['TransactionId', 'ItemCode'])['Count'].sum().unstack().reset_index().fillna(0).set_index('TransactionId'))
#grp

In [33]:
#Let's use the popular Apriori Algorithm on df2 now.
dfx = (df2[df2['Country'] == 'France'])
df5 = dfx.pivot_table(index='TransactionId', columns='ItemCode', values='Count', aggfunc=np.sum, fill_value = 0)
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
df5 = df5.applymap(encode_units)
frequent_itemsets2 = apriori(df5, min_support=0.08, use_colnames=True)
rules2 = association_rules(frequent_itemsets2, metric="lift", min_threshold=1.1)

In [34]:
rules2.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(442680),(442806),0.136842,0.142105,0.105263,0.769231,5.413105,0.085817,3.717544
1,(442806),(442680),0.142105,0.136842,0.105263,0.740741,5.413105,0.085817,3.329323
2,(442680),(442974),0.136842,0.131579,0.105263,0.769231,5.846154,0.087258,3.763158
3,(442974),(442680),0.131579,0.136842,0.105263,0.800000,5.846154,0.087258,4.315789
4,(442974),(442806),0.131579,0.142105,0.126316,0.960000,6.755556,0.107618,21.447368
5,(442806),(442974),0.142105,0.131579,0.126316,0.888889,6.755556,0.107618,7.815789
6,(473634),(473571),0.176316,0.139474,0.107895,0.611940,4.387496,0.083303,2.217510
7,(473571),(473634),0.139474,0.176316,0.107895,0.773585,4.387496,0.083303,3.637939
8,(473571),(473676),0.139474,0.173684,0.092105,0.660377,3.802173,0.067881,2.433041
9,(473676),(473571),0.173684,0.139474,0.092105,0.530303,3.802173,0.067881,1.832088
10,(473634),(473676),0.176316,0.173684,0.105263,0.597015,3.437359,0.074640,2.050487
11,(473676),(473634),0.173684,0.176316,0.105263,0.606061,3.437359,0.074640,2.090891
12,(477267),(477246),0.097368,0.100000,0.081579,0.837838,8.378378,0.071842,5.550000
13,(477246),(477267),0.100000,0.097368,0.081579,0.815789,8.378378,0.071842,4.900000
14,"(442680, 442974)",(442806),0.105263,0.142105,0.102632,0.975000,6.861111,0.087673,34.315789
15,"(442680, 442806)",(442974),0.105263,0.131579,0.102632,0.975000,7.410000,0.088781,34.736842
16,"(442806, 442974)",(442680),0.126316,0.136842,0.102632,0.812500,5.937500,0.085346,4.603509
17,(442680),"(442806, 442974)",0.136842,0.126316,0.102632,0.750000,5.937500,0.085346,3.494737
18,(442974),"(442680, 442806)",0.131579,0.105263,0.102632,0.780000,7.410000,0.088781,4.066986
19,(442806),"(442680, 442974)",0.142105,0.105263,0.102632,0.722222,6.861111,0.087673,3.221053

In [35]:
rules2[ (rules2['lift'] >= 5) & (rules2['confidence'] >= 0.7) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(442680),(442806),0.136842,0.142105,0.105263,0.769231,5.413105,0.085817,3.717544
1,(442806),(442680),0.142105,0.136842,0.105263,0.740741,5.413105,0.085817,3.329323
2,(442680),(442974),0.136842,0.131579,0.105263,0.769231,5.846154,0.087258,3.763158
3,(442974),(442680),0.131579,0.136842,0.105263,0.800000,5.846154,0.087258,4.315789
4,(442974),(442806),0.131579,0.142105,0.126316,0.960000,6.755556,0.107618,21.447368
5,(442806),(442974),0.142105,0.131579,0.126316,0.888889,6.755556,0.107618,7.815789
12,(477267),(477246),0.097368,0.100000,0.081579,0.837838,8.378378,0.071842,5.550000
13,(477246),(477267),0.100000,0.097368,0.081579,0.815789,8.378378,0.071842,4.900000
14,"(442680, 442974)",(442806),0.105263,0.142105,0.102632,0.975000,6.861111,0.087673,34.315789
15,"(442680, 442806)",(442974),0.105263,0.131579,0.102632,0.975000,7.410000,0.088781,34.736842
16,"(442806, 442974)",(442680),0.126316,0.136842,0.102632,0.812500,5.937500,0.085346,4.603509
17,(442680),"(442806, 442974)",0.136842,0.126316,0.102632,0.750000,5.937500,0.085346,3.494737
18,(442974),"(442680, 442806)",0.131579,0.105263,0.102632,0.780000,7.410000,0.088781,4.066986
19,(442806),"(442680, 442974)",0.142105,0.105263,0.102632,0.722222,6.861111,0.087673,3.221053

In [36]:
rules2.to_csv('France.csv')

In [37]:
#As seen above there isn't any difference in the frequent items calculated by removing the Userid =-1
#as it belongs to united kingdom only. so, Let's use df2 to find frequent items in Germany now

In [38]:
dfx = (df2[df2['Country'] == 'Germany'])
df5 = dfx.pivot_table(index='TransactionId', columns='ItemCode', values='Count', aggfunc=np.sum, fill_value = 0)
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
df5 = df5.applymap(encode_units)
frequent_itemsets2 = apriori(df5, min_support=0.08, use_colnames=True)
rules2 = association_rules(frequent_itemsets2, metric="lift", min_threshold=1.1)

In [39]:
rules2.head(200)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(468888),(468846),0.162528,0.252822,0.13544,0.833333,3.296131,0.09435,4.483070
1,(468846),(468888),0.252822,0.162528,0.13544,0.535714,3.296131,0.09435,1.803785

In [40]:
#Let's reduce the support value and then observe
frequent_itemsets2 = apriori(df5, min_support=0.06, use_colnames=True)
rules2 = association_rules(frequent_itemsets2, metric="lift", min_threshold=1.1)

In [41]:
rules2.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(435099),(435204),0.130926,0.072235,0.060948,0.465517,6.444504,0.051491,1.735819
1,(435204),(435099),0.072235,0.130926,0.060948,0.843750,6.444504,0.051491,5.562077
2,(435099),(468846),0.130926,0.252822,0.065463,0.500000,1.977679,0.032362,1.494357
3,(468846),(435099),0.252822,0.130926,0.065463,0.258929,1.977679,0.032362,1.172727
4,(468888),(468846),0.162528,0.252822,0.135440,0.833333,3.296131,0.094350,4.483070
5,(468846),(468888),0.252822,0.162528,0.135440,0.535714,3.296131,0.094350,1.803785
6,(473634),(468846),0.142212,0.252822,0.076749,0.539683,2.134637,0.040795,1.623181
7,(468846),(473634),0.252822,0.142212,0.076749,0.303571,2.134637,0.040795,1.231695
8,(475209),(468846),0.106095,0.252822,0.072235,0.680851,2.693009,0.045412,2.341159
9,(468846),(475209),0.252822,0.106095,0.072235,0.285714,2.693009,0.045412,1.251467
10,(473634),(473571),0.142212,0.110609,0.063205,0.444444,4.018141,0.047475,1.600903
11,(473571),(473634),0.110609,0.142212,0.063205,0.571429,4.018141,0.047475,2.001505
12,(473634),(473676),0.142212,0.119639,0.069977,0.492063,4.112908,0.052963,1.733211
13,(473676),(473634),0.119639,0.142212,0.069977,0.584906,4.112908,0.052963,2.066489

In [42]:
rules2.to_csv('Germany.csv')

In [43]:
#Taking data of all countries
df5 = df2.pivot_table(index='TransactionId', columns='ItemCode', values='Count', aggfunc=np.sum, fill_value = 0)
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
df5 = df5.applymap(encode_units)
frequent_itemsets2 = apriori(df5, min_support=0.025, use_colnames=True)
rules2 = association_rules(frequent_itemsets2, metric="lift", min_threshold=1.5)

In [44]:
rules2.head(30)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(435225),(435267),0.070035,0.057158,0.028090,0.401086,7.017101,0.024087,1.574252
1,(435267),(435225),0.057158,0.070035,0.028090,0.491445,7.017101,0.024087,1.828641
2,(435225),(470022),0.070035,0.053681,0.025374,0.362296,6.749053,0.021614,1.483948
3,(470022),(435225),0.053681,0.070035,0.025374,0.472672,6.749053,0.021614,1.763541
4,(435225),(470043),0.070035,0.056669,0.028199,0.402638,7.105031,0.024230,1.579160
5,(470043),(435225),0.056669,0.070035,0.028199,0.497603,7.105031,0.024230,1.851056
6,(470064),(435225),0.050584,0.070035,0.028416,0.561762,8.021118,0.024874,2.122052
7,(435225),(470064),0.070035,0.050584,0.028416,0.405741,8.021118,0.024874,1.597646
8,(435225),(1787079),0.070035,0.112741,0.027547,0.393328,3.488773,0.019651,1.462502
9,(1787079),(435225),0.112741,0.070035,0.027547,0.244337,3.488773,0.019651,1.230661
10,(470043),(435267),0.056669,0.057158,0.025265,0.445829,7.799894,0.022026,1.701356
11,(435267),(470043),0.057158,0.056669,0.025265,0.442015,7.799894,0.022026,1.690603
12,(470064),(435267),0.050584,0.057158,0.025211,0.498389,8.719436,0.022319,1.879626
13,(435267),(470064),0.057158,0.050584,0.025211,0.441065,8.719436,0.022319,1.698615
14,(1787079),(460551),0.112741,0.042054,0.028742,0.254940,6.062230,0.024001,1.285730
15,(460551),(1787079),0.042054,0.112741,0.028742,0.683463,6.062230,0.024001,2.803014
16,(470106),(1787079),0.047324,0.112741,0.035534,0.750861,6.660047,0.030198,3.561302
17,(1787079),(470106),0.112741,0.047324,0.035534,0.315181,6.660047,0.030198,1.391135
18,(1787079),(470631),0.112741,0.042923,0.027112,0.240482,5.602620,0.022273,1.260111
19,(470631),(1787079),0.042923,0.112741,0.027112,0.631646,5.602620,0.022273,2.408710
20,(476637),(476679),0.037544,0.042543,0.029394,0.782923,18.403197,0.027797,4.410686
21,(476679),(476637),0.042543,0.037544,0.029394,0.690932,18.403197,0.027797,3.114062
22,(477267),(477246),0.047650,0.042869,0.028797,0.604333,14.097273,0.026754,2.419032
23,(477246),(477267),0.042869,0.047650,0.028797,0.671736,14.097273,0.026754,2.901174
24,(1787079),(487263),0.112741,0.058680,0.031024,0.275181,4.689538,0.024409,1.298697
25,(487263),(1787079),0.058680,0.112741,0.031024,0.528704,4.689538,0.024409,1.882593
26,(489321),(489300),0.041076,0.034501,0.025156,0.612434,17.750937,0.023739,2.491184
27,(489300),(489321),0.034501,0.041076,0.025156,0.729134,17.750937,0.023739,3.540214
28,(1732122),(1732374),0.047596,0.044064,0.025428,0.534247,12.124301,0.023331,2.052451
29,(1732374),(1732122),0.044064,0.047596,0.025428,0.577065,12.124301,0.023331,2.251895

In [45]:
rules2.to_csv('Allcountries.csv')